.container {
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
	flex-direction: column;
}
.full-width-half-height {
	display: flex;
	width: 100%;
	height: 50%;	
}
 
.elem-top-left {
	position: absolute;
	left: 0;
	top: 0;
} 
.elem-top-right {
	position: absolute;
	right: 0;
	top: 0;
}
.elem-bottom-left {
	position: absolute;
	left: 0;
	bottom: 0;
} 
.elem-bottom-right {
	position: absolute;
	right: 0;
	bottom: 0;
}

.square {
	width: 60px;
	height: 30px;
	background-color: rgba(0,0,0,0.8);
}
.red {
	background-color: rgba(255,0,0,0.8);
}