/* This applies to all elements (bad practice) */
* {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

/* This css centers at the middle of the screen */
#container {
	padding: 10px;
	text-shadow: 2px 2px 5px #c52828;
    position: absolute;
    color: rgb(241, 235, 235);
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 35px;
	background-color: rgba(39, 39, 39, 0.85);
}

.small {
	font-size: 25px;
}